.cashback {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 30px auto;

    @media (min-width: $breakpoint-md) {
      padding: 0;
      width: 460px;
    }

    @media (min-width: $breakpoint-lg) {
      width: 500px;
    }

    @media (min-width: $breakpoint-xl) {
      width: 580px;
    }
  }

  &__body {
    @media (min-width: $breakpoint-md) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }
  }

  &__order-btn {
    margin-top: 20px;
    width: 290px;
    height: 50px;
    border: 1px solid $fnt-secondary-modal-color;
    border-radius: 30px;
    overflow: hidden;

    @media (min-width: $breakpoint_md) {
      max-width: 225px;

      &:hover {
        color: var(--bg-color);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: var(--fnt-color);
        transition: all 0.5s;
        transform: translateX(-110%);
      }

      &:hover::after {
        transition: all 0.5s;
        transform: translateX(0);
      }
    }

    @media (min-width: $breakpoint_lg) {
      max-width: 245px;
    }

    @media (min-width: $breakpoint_xl) {
      margin-top: 30px;
      max-width: 285px;
    }
  }
}
