.cashback {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 30px auto;

    @media (min-width: $breakpoint-md) {
      padding: 0;
      width: 460px;
    }
  }

  &__body {
    @media (min-width: $breakpoint-md) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 16px;
      text-align: center;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 16px;
    }
  }
  &__order-btn {
    margin-top: 20px;
    width: 290px;
    height: 50px;
    border: 1px solid $fnt-secondary-modal-color;
    border-radius: 30px;
    font-size: 16px;

    @media (min-width: $breakpoint-lg) {
      font-size: 18px;
    }
  }
}
