.chat {
  position: fixed;
  right: 0;
  bottom: -100vh;
  z-index: 3;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 40px auto 55px;
  background: #fff;
  border-radius: 10px;
  transition: bottom 0.5s;
  visibility: hidden;
  font-size: 16px;

  @media (min-width: $breakpoint_md) {
    right: 8vw;
    width: 360px;
    height: 450px;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.5);
  }

  &.dark {
    background: #333;

    @media (min-width: $breakpoint_md) {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
  }

  &.open {
    bottom: 0;
    visibility: visible;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #333;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__notice {
    font-style: italic;

    & .dot {
      animation-name: flashing;
      animation-iteration-count: infinite;
      animation-duration: 1.5s;

      &.second {
        animation-delay: 0.5s;
      }

      &.third {
        animation-delay: 1s;
      }

      @keyframes flashing {
        0%,
        100% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }
      }
    }
  }

  &__close {
    display: flex;
    align-items: center;
    height: 100%;
    fill: currentColor;
  }

  &__dialog {
    overflow-y: scroll;
    padding: 10px;

    &::-webkit-scrollbar {
      width: 10px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 4px solid #fff;
      background: #888;
    }
  }

  .message {
    margin-top: 10px;
    padding: 10px;
    width: 65%;

    &.bot {
      background: #f1f0f6;
      border-radius: 10px 10px 10px 0;
      color: #000;
    }

    &.user {
      background: #1facf7;
      border-radius: 10px 10px 0 10px;
      color: #fff;
      margin-left: auto;
    }

    &__date {
      display: block;
      width: max-content;
      margin-left: auto;
      font-size: 12px;
      font-style: italic;
      opacity: 0.8;
    }

    &__item {
      display: flex;
      margin-top: 5px;

      button {
        margin-left: 5px;
        text-align: left;
        color: #1facf7;
        text-decoration: underline;
      }
    }
  }

  &__footer {
    background: #f4f4f4;
    border-top: 1px solid hsla(0, 0%, 67%, 0.5);
    padding: 5px 10px;
  }

  &__form {
    grid-gap: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: auto 36px;
    height: 100%;
  }

  &__input {
    position: relative;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 30px;
    height: 100%;
    padding: 3px 10px;
    width: 100%;

    &.error {
      border: 1px solid #ff0000;

      span {
        position: absolute;
        top: -4%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 11px;
        font-weight: 700;
        color: #ff0000;
      }
    }

    input {
      color: currentColor;
      height: 100%;
      width: 100%;
      font-size: 16px;
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    background: #1facf7;
    border-radius: 50%;
    height: 36px;
    width: 36px;

    svg {
      width: 50%;
      height: 50%;
    }
  }
}
