.section-info {
  &__wrapper {
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 30px;

    @media (min-width: $breakpoint-md) {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 0;
      padding-top: 30px;
      width: $max-width-md;
    }
  }

  &__body {
    @media (min-width: $breakpoint-md) {
      width: 50%;
    }
  }

  &__links {
    a {
      display: block;
      height: 44px;
      margin-top: 15px;
    }

    @media (min-width: $breakpoint-md) {
      display: flex;
      justify-content: space-between;
      max-width: 320px;
    }
  }

  &__image {
    display: flex;
    margin-top: 30px;
    border: 1px solid $fnt-secondary-modal-color;
    border-radius: 20px;
    overflow: hidden;

    @media (min-width: $breakpoint-md) {
      margin-top: 0;
      width: 50%;

      &.reverse {
        order: -1;
      }
    }
  }
}
