body {
  position: relative;
  font-family: $font-family;
  font-size: 14px;

  @media (min-width: $breakpoint-md) {
    font-size: 16px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 18px;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 20px;
  }

  &.overflow-hidden {
    overflow: hidden;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}
