body {
  position: relative;
  font-family: $font-family;
  font-size: 14px;

  &.overflow-hidden {
    overflow: hidden;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}
