@mixin font-face($font-name, $file-name, $font-weigth, $font-style, $font-path) {
  @font-face {
    font-family: $font-name;
    font-weight: $font-weigth;
    font-style: $font-style;
    font-display: swap;
    src: url('#{$font-path}/#{$file-name}.woff2') format('woff2');
    src: url('#{$font-path}/#{$file-name}.woff') format('woff');
  }
}
