/*_reset.scss*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  color: currentColor;
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

input,
select {
  border: none;
  outline: none;
}
